:root {
    --main: #841345;
    --accent1: #26B0D5;
    --accent2: #88B918;
    --pop: #FF809D;
    --neutral-dk: #41423E;
    --neutral-lt: #e6e2d6;
    --neutral-pop: whitesmoke;
}

.portfolio-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 3rem 2rem;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 3rem;
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 1rem;
}

.card-top {
    width: 100%;
    height: 20%;
    background-color: var(--main);
    border-radius: 1rem 1rem 0 0;
    padding: 0.5rem 1rem;
}

.card-top a:any-link {
    color: var(--neutral-pop)
}

.card-middle {
    background-color: var(--neutral-pop);
    width: 100%;
    height: 60%;
    overflow: auto;
    padding: 1rem;
}

.stack-icons {
    color: var(--accent2);
    font-size: 1.8rem;
}

.card-bottom {
    background-color: var(--neutral-pop);
    width: 100%;
    height: 20%;
    padding: 0.5rem 1rem;
    border-radius: 0 0 1rem 1rem;
}

.card-bottom a:any-link {
    color: var(--pop);
    font-size: 1.6rem;
}